<app-login-form
  *ngIf="!accountCreated"
  (accountCreatedEvent)="onAccountCreated($event)"
>
</app-login-form>

<div class="page" *ngIf="accountCreated">
  <h2>Welcome, {{ username }}!</h2>

  <div class="params-bar">
    <button (click)="sortByPriority()">Sort by Priority</button>
    <button (click)="sortByDeadline()">Sort by Deadline</button>
  </div>

  <form class="form" (ngSubmit)="addTask()" #taskForm="ngForm">
    <input
      type="text"
      [(ngModel)]="newTask"
      name="task"
      required
      placeholder="New task"
    />

    <select [(ngModel)]="newPriority" name="priority">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>

    <input type="date" [(ngModel)]="newDeadline" name="deadline" required />

    <button type="submit">Add Task</button>
  </form>

  <div class="comments" *ngFor="let task of toDoList">
    <p><strong>Task:</strong> {{ task.task }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline | date : "mediumDate" }}</p>
    <hr />
  </div>
</div>
