<main class="todo-container">
  <div>
    <form (ngSubmit)="addTask()" #taskForm="ngForm">
      <input
        type="text"
        [(ngModel)]="newTask"
        name="task"
        required
        placeholder="New task"
      />

      <select [(ngModel)]="newPriority" name="priority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>

      <input type="date" [(ngModel)]="newDeadline" name="deadline" required />

      <button type="submit">Add Task</button>
    </form>
  </div>
</main>
